@model Vamia.Models.ProductModel

<div class="col-md-3" style="width:150px;border-width:2px;border-color:gray">
    <a href="/details/@Model.ProductId">
        <div class="lead">@Model.Name</div> <div class="h5">@Model.Description</div>
        <div>
            <img src="@Model.PictureURL" data-src="@Model.PictureURL" class="img-responsive">
        </div>
    </a>
</div>
