@model List<Vamia.Models.ProductModel>

@{
    ViewBag.Title = "Index";
}

<h2>Items on promo!</h2>
<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-3" style="width:150px;border-width:2px;border-color:gray">
            @Html.Partial("_ItemPartialView", product)
        </div>
    }
</div>